<h1>Sumário<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Task-1.-Working-with-data" data-toc-modified-id="Task-1.-Working-with-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Task 1. Working with data</a></span><ul class="toc-item"><li><span><a href="#1.1.-Download-the-data-set-movie_metadata.csv,-which-contains-data-about-films-from-IMDb" data-toc-modified-id="1.1.-Download-the-data-set-movie_metadata.csv,-which-contains-data-about-films-from-IMDb-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>1.1. Download the data set movie_metadata.csv, which contains data about films from IMDb</a></span></li><li><span><a href="#1.2.-The-duration-column-contains-data-on-the-film-length.-How-many-missing-values-are-there-in-this-column?" data-toc-modified-id="1.2.-The-duration-column-contains-data-on-the-film-length.-How-many-missing-values-are-there-in-this-column?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>1.2. The duration column contains data on the film length. How many missing values are there in this column?</a></span></li><li><span><a href="#1.3.-Replace-the-missing-values-in-the-duration-column-with-the-median-value-for-this-column." data-toc-modified-id="1.3.-Replace-the-missing-values-in-the-duration-column-with-the-median-value-for-this-column.-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>1.3. Replace the missing values in the duration column with the median value for this column.</a></span></li><li><span><a href="#1.4.-What-is-the-average-film-length?-Give-the-answer-as-a-floating-point-figure-rounded-to-two-decimal-places." data-toc-modified-id="1.4.-What-is-the-average-film-length?-Give-the-answer-as-a-floating-point-figure-rounded-to-two-decimal-places.-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>1.4. What is the average film length? Give the answer as a floating-point figure rounded to two decimal places.</a></span></li><li><span><a href="#1.5.-Create-a-movie_duration_category-column,-which-will-contain-three-categories-depending-on-the-film-length:" data-toc-modified-id="1.5.-Create-a-movie_duration_category-column,-which-will-contain-three-categories-depending-on-the-film-length:-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>1.5. Create a movie_duration_category column, which will contain three categories depending on the film length:</a></span></li><li><span><a href="#1.6.-Build-a-summary-table-for-films-released-after-2000-(inclusively),-to-list-the-numbers-of-films:" data-toc-modified-id="1.6.-Build-a-summary-table-for-films-released-after-2000-(inclusively),-to-list-the-numbers-of-films:-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>1.6. Build a summary table for films released after 2000 (inclusively), to list the numbers of films:</a></span></li></ul></li></ul></div>

## Task 1. Working with data

data loading

In [1]:
import numpy as np
import pandas as pd

### 1.1. Download the data set movie_metadata.csv, which contains data about films from IMDb
(Internet Movie Database).

In [2]:
data = pd.read_csv('movie_metadata.csv')

In [3]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0

### 1.2. The duration column contains data on the film length. How many missing values are there in this column?

In [4]:
missing_duration_column = data.duration.isna().sum()
print(f"There are {missing_duration_column} missing values in duration column ")

There are 15 missing values in duration column

### 1.3. Replace the missing values in the duration column with the median value for this column.

In [5]:
median_duration = data.duration.quantile(0.5)
median_duration

103.0

In [6]:
# Replacing
data['duration'] = data['duration'].fillna(median_duration)

In [7]:
missing_duration_column = data.duration.isna().sum()
print(f"There are {missing_duration_column} missing values in duration column ")

There are 0 missing values in duration column

### 1.4. What is the average film length? Give the answer as a floating-point figure rounded to two decimal places.

In [8]:
mean_duration= round(data.duration.mean(), 2)

In [9]:
print(f" The average fil length is {mean_duration} ")

 The average fil length is 107.19

### 1.5. Create a movie_duration_category column, which will contain three categories depending on the film length:
- Category "1. <90" if the film is less than 90 minutes long
- Category "2. 90–120" if the film is between 90 minutes and two hours long (inclusively)
- Category "3. >120" if the film is more than two hours long

In [10]:
def categorize_duration(film_duration:float)->str:
    if film_duration < 90:
        category = "1. <90" 
    elif film_duration >120:
         category = "3. >120"
    else:
        category = "2. 90–120"
    return category

In [11]:
categorize_duration(100)

'2. 90–120'

In [12]:
movie_duration_category = np.vectorize(categorize_duration)(data.duration)

In [13]:
data['movie_duration_category'] = movie_duration_category

In [14]:
#the last colum of dataset
data.iloc[:,-1].head()

0      3. >120
1      3. >120
2      3. >120
3      3. >120
4    2. 90–120
Name: movie_duration_category, dtype: object

### 1.6. Build a summary table for films released after 2000 (inclusively), to list the numbers of films:
- Table rows: year
- Table columns: movie duration category ("<90", "90–120", ">120")
- The year of release should be displayed in the YYYY format.

In [15]:
# filtering the interesting columns
summary_data = data.loc[:,['title_year','movie_duration_category']]
summary_data.head()

   title_year movie_duration_category
0      2009.0                 3. >120
1      2007.0                 3. >120
2      2015.0                 3. >120
3      2012.0                 3. >120
4         NaN               2. 90–120

In [16]:
# setting the column 'movie duration category' as column 
summary_data = pd.get_dummies(summary_data, columns=['movie_duration_category'], prefix = '',prefix_sep='')
summary_data.head()

   title_year  1. <90  2. 90–120  3. >120
0      2009.0       0          0        1
1      2007.0       0          0        1
2      2015.0       0          0        1
3      2012.0       0          0        1
4         NaN       0          1        0

In [17]:
# filtering by year starting 2000
is_2000_or_foward = summary_data['title_year'] >= 2000
summary_data = summary_data[is_2000_or_foward]

In [18]:
# the YYYY format.
summary_data['title_year'] = summary_data['title_year'].astype(int)

In [19]:
#renmea 'title_year' to 'year' 
summary_data.rename(columns={'title_year':'year'},inplace = True)
summary_data.head()

   year  1. <90  2. 90–120  3. >120
0  2009       0          0        1
1  2007       0          0        1
2  2015       0          0        1
3  2012       0          0        1
5  2012       0          0        1

In [20]:
#sumary construtrion
summary_data.groupby(by = 'year').sum()

      1. <90  2. 90–120  3. >120
year
2000      25        112       34
2001      29        120       39
2002      36        146       27
2003      31        108       30
2004      30        142       42
2005      31        142       48
2006      40        146       53
2007      31        130       43
2008      29        160       36
2009      42        178       40
2010      26        171       33
2011      36        150       39
2012      41        139       41
2013      38        145       54
2014      36        171       45
2015      34        145       47
2016       8         79       19