<h1>Sum√°rio<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Task-1.-Working-with-data" data-toc-modified-id="Task-1.-Working-with-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Task 1. Working with data</a></span><ul class="toc-item"><li><span><a href="#1.1.-Download-the-data-set-movie_metadata.csv,-which-contains-data-about-films-from-IMDb" data-toc-modified-id="1.1.-Download-the-data-set-movie_metadata.csv,-which-contains-data-about-films-from-IMDb-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>1.1. Download the data set movie_metadata.csv, which contains data about films from IMDb</a></span></li><li><span><a href="#1.2.-The-duration-column-contains-data-on-the-film-length.-How-many-missing-values-are-there-in-this-column?" data-toc-modified-id="1.2.-The-duration-column-contains-data-on-the-film-length.-How-many-missing-values-are-there-in-this-column?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>1.2. The duration column contains data on the film length. How many missing values are there in this column?</a></span></li><li><span><a href="#1.3.-Replace-the-missing-values-in-the-duration-column-with-the-median-value-for-this-column." data-toc-modified-id="1.3.-Replace-the-missing-values-in-the-duration-column-with-the-median-value-for-this-column.-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>1.3. Replace the missing values in the duration column with the median value for this column.</a></span></li><li><span><a href="#1.4.-What-is-the-average-film-length?-Give-the-answer-as-a-floating-point-figure-rounded-to-two-decimal-places." data-toc-modified-id="1.4.-What-is-the-average-film-length?-Give-the-answer-as-a-floating-point-figure-rounded-to-two-decimal-places.-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>1.4. What is the average film length? Give the answer as a floating-point figure rounded to two decimal places.</a></span></li><li><span><a href="#1.5.-Create-a-movie_duration_category-column,-which-will-contain-three-categories-depending-on-the-film-length:" data-toc-modified-id="1.5.-Create-a-movie_duration_category-column,-which-will-contain-three-categories-depending-on-the-film-length:-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>1.5. Create a movie_duration_category column, which will contain three categories depending on the film length:</a></span></li><li><span><a href="#1.6.-Build-a-summary-table-for-films-released-after-2000-(inclusively),-to-list-the-numbers-of-films:" data-toc-modified-id="1.6.-Build-a-summary-table-for-films-released-after-2000-(inclusively),-to-list-the-numbers-of-films:-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>1.6. Build a summary table for films released after 2000 (inclusively), to list the numbers of films:</a></span></li><li><span><a href="#1.7.-How-many-films-between-90-minutes-and-two-hours-long-were-released-in-2008?" data-toc-modified-id="1.7.-How-many-films-between-90-minutes-and-two-hours-long-were-released-in-2008?-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>1.7. How many films between 90 minutes and two hours long were released in 2008?</a></span></li><li><span><a href="#1.8.-The-plot_keywords-column-holds-keywords-characterizing-the-film's-plot.-Using-the-data-in-this-column,-create-a-column-called-movie_plot_category,-to-contain-four-categories" data-toc-modified-id="1.8.-The-plot_keywords-column-holds-keywords-characterizing-the-film's-plot.-Using-the-data-in-this-column,-create-a-column-called-movie_plot_category,-to-contain-four-categories-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>1.8. The plot_keywords column holds keywords characterizing the film's plot. Using the data in this column, create a column called movie_plot_category, to contain four categories</a></span></li><li><span><a href="#1.9.-The-imdb_score-column-shows-a-viewer-rating-for-the-film.-Build-a-table-to-reflect-the-average-rating-of-films-depending-on-which-movie_plot_category-category-they-belong-to." data-toc-modified-id="1.9.-The-imdb_score-column-shows-a-viewer-rating-for-the-film.-Build-a-table-to-reflect-the-average-rating-of-films-depending-on-which-movie_plot_category-category-they-belong-to.-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>1.9. The imdb_score column shows a viewer rating for the film. Build a table to reflect the average rating of films depending on which movie_plot_category category they belong to.</a></span></li><li><span><a href="#1.10.-What-is-the-average-rating-of-films-in-the-&quot;love&quot;-category?-Give-the-answer-as-a-floatingpoint" data-toc-modified-id="1.10.-What-is-the-average-rating-of-films-in-the-&quot;love&quot;-category?-Give-the-answer-as-a-floatingpoint-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>1.10. What is the average rating of films in the "love" category? Give the answer as a floatingpoint</a></span></li><li><span><a href="#1.11.-The-budget-column-contains-the-film's-budget.-What-is-the-median-budget-for-all-the-films-listed?-Give-the-answer-as-an-integer." data-toc-modified-id="1.11.-The-budget-column-contains-the-film's-budget.-What-is-the-median-budget-for-all-the-films-listed?-Give-the-answer-as-an-integer.-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>1.11. The budget column contains the film's budget. What is the median budget for all the films listed? Give the answer as an integer.</a></span></li></ul></li></ul></div>

## Task 1. Working with data

data loading

In [1]:
import numpy as np
import pandas as pd

### 1.1. Download the data set movie_metadata.csv, which contains data about films from IMDb
(Internet Movie Database).

In [2]:
data = pd.read_csv('movie_metadata.csv')

In [3]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0

### 1.2. The duration column contains data on the film length. How many missing values are there in this column?

In [4]:
missing_duration_column = data.duration.isna().sum()
print(f"There are {missing_duration_column} missing values in duration column ")

There are 15 missing values in duration column

### 1.3. Replace the missing values in the duration column with the median value for this column.

In [5]:
median_duration = data.duration.quantile(0.5)
median_duration

103.0

In [6]:
# Replacing
data['duration'] = data['duration'].fillna(median_duration)

In [7]:
missing_duration_column = data.duration.isna().sum()
print(f"There are {missing_duration_column} missing values in duration column ")

There are 0 missing values in duration column

### 1.4. What is the average film length? Give the answer as a floating-point figure rounded to two decimal places.

In [8]:
mean_duration= round(data.duration.mean(), 2)

In [9]:
print(f" The average fil length is {mean_duration} ")

 The average fil length is 107.19

### 1.5. Create a movie_duration_category column, which will contain three categories depending on the film length:
- Category "1. <90" if the film is less than 90 minutes long
- Category "2. 90‚Äì120" if the film is between 90 minutes and two hours long (inclusively)
- Category "3. >120" if the film is more than two hours long

In [10]:
def categorize_duration(film_duration:float)->str:
    if film_duration < 90:
        category = "1. <90" 
    elif film_duration >120:
         category = "3. >120"
    else:
        category = "2. 90‚Äì120"
    return category

In [11]:
categorize_duration(100)

'2. 90‚Äì120'

In [12]:
movie_duration_category = np.vectorize(categorize_duration)(data.duration)

In [13]:
data['movie_duration_category'] = movie_duration_category

In [14]:
#the last colum of dataset
data.iloc[:,-1].head()

0      3. >120
1      3. >120
2      3. >120
3      3. >120
4    2. 90‚Äì120
Name: movie_duration_category, dtype: object

### 1.6. Build a summary table for films released after 2000 (inclusively), to list the numbers of films:
- Table rows: year
- Table columns: movie duration category ("<90", "90‚Äì120", ">120")
- The year of release should be displayed in the YYYY format.

In [15]:
# filtering the interesting columns
summary_data = data.loc[:,['title_year','movie_duration_category']]
summary_data.head()

   title_year movie_duration_category
0      2009.0                 3. >120
1      2007.0                 3. >120
2      2015.0                 3. >120
3      2012.0                 3. >120
4         NaN               2. 90‚Äì120

In [16]:
# setting the column 'movie duration category' as column 
summary_data = pd.get_dummies(summary_data, columns=['movie_duration_category'], prefix = '',prefix_sep='')
summary_data.head()

   title_year  1. <90  2. 90‚Äì120  3. >120
0      2009.0       0          0        1
1      2007.0       0          0        1
2      2015.0       0          0        1
3      2012.0       0          0        1
4         NaN       0          1        0

In [17]:
# filtering by year starting 2000
is_2000_or_foward = summary_data['title_year'] >= 2000
summary_data = summary_data[is_2000_or_foward]

In [18]:
# the YYYY format.
summary_data['title_year'] = summary_data['title_year'].astype(int)

In [21]:
#rename the columns 
summary_data.rename(columns={'title_year':'year','1. <90':'<90','2. 90‚Äì120':'90‚Äì120','3. >120':'>120'},inplace = True)
summary_data.head()

   year  <90  90‚Äì120  >120
0  2009    0       0     1
1  2007    0       0     1
2  2015    0       0     1
3  2012    0       0     1
5  2012    0       0     1

In [22]:
#sumary construtrion
summary = summary_data.groupby(by = 'year').sum()
summary

      <90  90‚Äì120  >120
year
2000   25     112    34
2001   29     120    39
2002   36     146    27
2003   31     108    30
2004   30     142    42
2005   31     142    48
2006   40     146    53
2007   31     130    43
2008   29     160    36
2009   42     178    40
2010   26     171    33
2011   36     150    39
2012   41     139    41
2013   38     145    54
2014   36     171    45
2015   34     145    47
2016    8      79    19

### 1.7. How many films between 90 minutes and two hours long were released in 2008?

In [ ]:
films_2008_cat2 = summary.loc[2008,'90‚Äì120']
print("{} films were released in 2008 with duration between 90 minutes and two hours".format(films_2008_cat2))

### 1.8. The plot_keywords column holds keywords characterizing the film's plot. Using the data in this column, create a column called movie_plot_category, to contain four categories
depending on the key words in the column:
- Category "love_and_death" if the keywords include both "love" and "death"
- Category "love" if the keywords include the word "love"
- Category "death" if the keywords include the word "death"
- Category "other" if the keywords do not meet the conditions above

In [48]:
def categorize_plot(film_plots:str)->str:
    '''Parameters: film_plots->string, keywords characterizing the film's plot who is separare by |'''
    try:
        keywords = film_plots.split('|')
        is_love = ('love' in keywords)
        is_death = ('death' in keywords)
        is_love_and_death = (is_love and is_death)
        is_other = not (is_love or is_death)

        if is_other:
            category = "other" 
        elif is_love_and_death:
             category = "love_and_death"
        elif is_love:
            category = "love"
        else:
            category = "death"
    
    except AttributeError:
        category = "other" 
        
    return category

In [49]:
data['movie_plot_category'] = data['plot_keywords'].apply(categorize_plot)
data['movie_plot_category'].to_frame().head()

  movie_plot_category
0               other
1               other
2               other
3               other
4               other

### 1.9. The imdb_score column shows a viewer rating for the film. Build a table to reflect the average rating of films depending on which movie_plot_category category they belong to.

In [57]:
table_imdb = data.loc[:,['movie_plot_category','imdb_score']].groupby(by=['movie_plot_category']).agg({'imdb_score':np.mean})
table_imdb

                     imdb_score
movie_plot_category
death                  6.508130
love                   6.533862
love_and_death         6.677778
other                  6.436298

### 1.10. What is the average rating of films in the "love" category? Give the answer as a floatingpoint

In [72]:
category = "love"
mean_rating = table_imdb.loc[category][0]
mean_rating = round(mean_rating,2)

In [74]:
print(f"The average rating of film in the 'love' category is {mean_rating}.")

The average rating of film in the 'love' category is 6.53.

### 1.11. The budget column contains the film's budget. What is the median budget for all the films listed? Give the answer as an integer.

In [93]:
int_transform = lambda cash: float(cash[:-1])

In [97]:
mean_budget = data['budget'].apply(int_transform).median()
mean_budget = int(mean_budget)

In [99]:
print(f"The median budget for all the films is ${mean_budget}.")

The median budget for all the films is $15000000.