<h1>Sum√°rio<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Task-2" data-toc-modified-id="Task-2-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Task 2</a></span><ul class="toc-item"><li><span><a href="#1.-Download-the-event_data.csv-dataset,-which-contains-data-on-the-use-of-the-mobile-application-of-users-who-registered-from-July-29-to-September-1,-2019:" data-toc-modified-id="1.-Download-the-event_data.csv-dataset,-which-contains-data-on-the-use-of-the-mobile-application-of-users-who-registered-from-July-29-to-September-1,-2019:-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>1. Download the event_data.csv dataset, which contains data on the use of the mobile application of users who registered from July 29 to September 1, 2019:</a></span></li><li><span><a href="#2.-Highlight-user-cohorts-based-on-the-week-of-registration-in-the-application.-The-cohort-identifier-should-be-the-week-ordinal-(for-example,-the-week-from-July-29-to-August-4-should-have-identifier-31)." data-toc-modified-id="2.-Highlight-user-cohorts-based-on-the-week-of-registration-in-the-application.-The-cohort-identifier-should-be-the-week-ordinal-(for-example,-the-week-from-July-29-to-August-4-should-have-identifier-31).-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>2. Highlight user cohorts based on the week of registration in the application. The cohort identifier should be the week ordinal (for example, the week from July 29 to August 4 should have identifier 31).</a></span></li><li><span><a href="#3.-How-many-unique-users-in-the-cohort-with-ID-33?" data-toc-modified-id="3.-How-many-unique-users-in-the-cohort-with-ID-33?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>3. How many unique users in the cohort with ID 33?</a></span></li><li><span><a href="#4.-For-each-event,-highlight-the-indicator-lifetime---the-weekly-lifetime-of-the-cohort." data-toc-modified-id="4.-For-each-event,-highlight-the-indicator-lifetime---the-weekly-lifetime-of-the-cohort.-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>4. For each event, highlight the indicator lifetime - the weekly lifetime of the cohort.</a></span></li></ul></li></ul></div>

## Task 2

In [10]:
import pandas as pd
import numpy as np
import datetime as dt

### 1. Download the event_data.csv dataset, which contains data on the use of the mobile application of users who registered from July 29 to September 1, 2019:
- user_id - user identifier;
- event_date - time of the event;
- event_type - type of event: registration - registration in the application,  simple_event click event in the application; 
- purchase - an event of purchase within the application;
- purchase_amount - purchase amount.

In [80]:
data = pd.read_csv('event_data.csv', parse_dates=True, index_col='event_date')

In [81]:
data.head()

                    user_id    event_type  purchase_amount
event_date
2019-07-29 00:02:15  c40e6a  registration              NaN
2019-07-29 00:04:46  a2b682  registration              NaN
2019-07-29 00:13:22  9ac888  registration              NaN
2019-07-29 00:16:47  93ff22  registration              NaN
2019-07-29 00:19:23  65ef85  registration              NaN

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 79742 entries, 2019-07-29 00:02:15 to 2019-09-01 23:59:54
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          79742 non-null  object
 1   event_type       79742 non-null  object
 2   purchase_amount  6207 non-null   float64
 3   event_date_week  79742 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.0+ MB

### 2. Highlight user cohorts based on the week of registration in the application. The cohort identifier should be the week ordinal (for example, the week from July 29 to August 4 should have identifier 31).

In [83]:
data.index

DatetimeIndex(['2019-07-29 00:02:15', '2019-07-29 00:04:46',
               '2019-07-29 00:13:22', '2019-07-29 00:16:47',
               '2019-07-29 00:19:23', '2019-07-29 00:21:16',
               '2019-07-29 00:25:53', '2019-07-29 00:28:51',
               '2019-07-29 00:30:46', '2019-07-29 00:41:54',
               ...
               '2019-09-01 23:54:55', '2019-09-01 23:55:40',
               '2019-09-01 23:55:56', '2019-09-01 23:56:06',
               '2019-09-01 23:56:54', '2019-09-01 23:57:41',
               '2019-09-01 23:57:50', '2019-09-01 23:59:40',
               '2019-09-01 23:59:51', '2019-09-01 23:59:54'],
              dtype='datetime64[ns]', name='event_date', length=79742, freq=None)

In [85]:
data['event_date_week'] =  data.index.strftime('%W')
data['event_date_week'].head()

event_date
2019-07-29 00:02:15    30
2019-07-29 00:04:46    30
2019-07-29 00:13:22    30
2019-07-29 00:16:47    30
2019-07-29 00:19:23    30
Name: event_date_week, dtype: object

In [92]:
data['event_date_week'] = data['event_date_week'].astype("int")+1

In [95]:
data.head()

                    user_id    event_type  purchase_amount  event_date_week
event_date
2019-07-29 00:02:15  c40e6a  registration              NaN               31
2019-07-29 00:04:46  a2b682  registration              NaN               31
2019-07-29 00:13:22  9ac888  registration              NaN               31
2019-07-29 00:16:47  93ff22  registration              NaN               31
2019-07-29 00:19:23  65ef85  registration              NaN               31

### 3. How many unique users in the cohort with ID 33?

In [110]:
unique_users=data.loc[data['event_date_week']==33,'user_id'].unique()
total_unique_users = len(unique_users)

In [111]:
print("There are {} unique users.".format(total_unique_users))

There are 5102 unique users.

### 4. For each event, highlight the indicator lifetime - the weekly lifetime of the cohort.
The lifetime indicator is calculated based on the serial number of the week in which the event is committed, relative to the week of registration. For example, an event committed on August 3 by a user from a cohort of registrants at 31 weeks will be committed on the zero week of lifetime, and an event committed by the same user on August 5 will be committed on the first week of lifetime).