<h1>Sumário<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Task-2" data-toc-modified-id="Task-2-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Task 2</a></span><ul class="toc-item"><li><span><a href="#1.-Download-the-event_data.csv-dataset,-which-contains-data-on-the-use-of-the-mobile-application-of-users-who-registered-from-July-29-to-September-1,-2019:" data-toc-modified-id="1.-Download-the-event_data.csv-dataset,-which-contains-data-on-the-use-of-the-mobile-application-of-users-who-registered-from-July-29-to-September-1,-2019:-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>1. Download the event_data.csv dataset, which contains data on the use of the mobile application of users who registered from July 29 to September 1, 2019:</a></span></li><li><span><a href="#2.-Highlight-user-cohorts-based-on-the-week-of-registration-in-the-application.-The-cohort-identifier-should-be-the-week-ordinal-(for-example,-the-week-from-July-29-to-August-4-should-have-identifier-31)." data-toc-modified-id="2.-Highlight-user-cohorts-based-on-the-week-of-registration-in-the-application.-The-cohort-identifier-should-be-the-week-ordinal-(for-example,-the-week-from-July-29-to-August-4-should-have-identifier-31).-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>2. Highlight user cohorts based on the week of registration in the application. The cohort identifier should be the week ordinal (for example, the week from July 29 to August 4 should have identifier 31).</a></span></li><li><span><a href="#3.-How-many-unique-users-in-the-cohort-with-ID-33?" data-toc-modified-id="3.-How-many-unique-users-in-the-cohort-with-ID-33?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>3. How many unique users in the cohort with ID 33?</a></span></li><li><span><a href="#4.-For-each-event,-highlight-the-indicator-lifetime---the-weekly-lifetime-of-the-cohort." data-toc-modified-id="4.-For-each-event,-highlight-the-indicator-lifetime---the-weekly-lifetime-of-the-cohort.-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>4. For each event, highlight the indicator lifetime - the weekly lifetime of the cohort.</a></span></li><li><span><a href="#5.-Build-a-summary-table-of-changes-in-the-Retention-Rate-for-cohorts-depending-on-lifetime." data-toc-modified-id="5.-Build-a-summary-table-of-changes-in-the-Retention-Rate-for-cohorts-depending-on-lifetime.-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>5. Build a summary table of changes in the Retention Rate for cohorts depending on lifetime.</a></span></li><li><span><a href="#6.-What-is-the-3-week-retention-rate-for-a-cohort-with-ID-32?-Give-the-answer-in-percent,-rounded-to-2-decimal-places,-inclusive." data-toc-modified-id="6.-What-is-the-3-week-retention-rate-for-a-cohort-with-ID-32?-Give-the-answer-in-percent,-rounded-to-2-decimal-places,-inclusive.-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>6. What is the 3 week retention rate for a cohort with ID 32? Give the answer in percent, rounded to 2 decimal places, inclusive.</a></span></li><li><span><a href="#7.-Build-a-summary-table-of-changes-in-the-indicator-ARPPU-(Average-Revenue-Per-Paying-User)-for-cohorts-depending-on-lifetime." data-toc-modified-id="7.-Build-a-summary-table-of-changes-in-the-indicator-ARPPU-(Average-Revenue-Per-Paying-User)-for-cohorts-depending-on-lifetime.-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>7. Build a summary table of changes in the indicator ARPPU (Average Revenue Per Paying User) for cohorts depending on lifetime.</a></span></li><li><span><a href="#8.-What-is-the-3-week-ARPPU-of-a-cohort-with-ID-31?-Give-the-answer-with-a-floating-point-number,-rounded-to-2-decimal-places,-inclusive." data-toc-modified-id="8.-What-is-the-3-week-ARPPU-of-a-cohort-with-ID-31?-Give-the-answer-with-a-floating-point-number,-rounded-to-2-decimal-places,-inclusive.-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>8. What is the 3-week ARPPU of a cohort with ID 31? Give the answer with a floating point number, rounded to 2 decimal places, inclusive.</a></span></li><li><span><a href="#9.-What-is-the-median-time-between-user-registration-and-first-purchase?-Give-the-answer-in-seconds-(!)-As-an-integer." data-toc-modified-id="9.-What-is-the-median-time-between-user-registration-and-first-purchase?-Give-the-answer-in-seconds-(!)-As-an-integer.-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>9. What is the median time between user registration and first purchase? Give the answer in seconds (!) As an integer.</a></span></li></ul></li></ul></div>

## Task 2

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

### 1. Download the event_data.csv dataset, which contains data on the use of the mobile application of users who registered from July 29 to September 1, 2019:
- user_id - user identifier;
- event_date - time of the event;
- event_type - type of event: registration - registration in the application,  simple_event click event in the application; 
- purchase - an event of purchase within the application;
- purchase_amount - purchase amount.

In [2]:
data = pd.read_csv('event_data.csv', parse_dates=True, index_col='event_date')

In [3]:
data.head()

                    user_id    event_type  purchase_amount
event_date
2019-07-29 00:02:15  c40e6a  registration              NaN
2019-07-29 00:04:46  a2b682  registration              NaN
2019-07-29 00:13:22  9ac888  registration              NaN
2019-07-29 00:16:47  93ff22  registration              NaN
2019-07-29 00:19:23  65ef85  registration              NaN

In [4]:
data

                    user_id    event_type  purchase_amount
event_date
2019-07-29 00:02:15  c40e6a  registration              NaN
2019-07-29 00:04:46  a2b682  registration              NaN
2019-07-29 00:13:22  9ac888  registration              NaN
2019-07-29 00:16:47  93ff22  registration              NaN
2019-07-29 00:19:23  65ef85  registration              NaN
...                     ...           ...              ...
2019-09-01 23:57:41  930c23  simple_event              NaN
2019-09-01 23:57:50  a84999  simple_event              NaN
2019-09-01 23:59:40  175e4d  simple_event              NaN
2019-09-01 23:59:51  1c2210  simple_event              NaN
2019-09-01 23:59:54  d799dc  simple_event              NaN

[79742 rows x 3 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 79742 entries, 2019-07-29 00:02:15 to 2019-09-01 23:59:54
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          79742 non-null  object
 1   event_type       79742 non-null  object
 2   purchase_amount  6207 non-null   float64
dtypes: float64(1), object(2)
memory usage: 2.4+ MB

In [6]:
data_index = data.index

### 2. Highlight user cohorts based on the week of registration in the application. The cohort identifier should be the week ordinal (for example, the week from July 29 to August 4 should have identifier 31).

In [7]:
def get_week_registration(data):
    mask = (data['event_type'] == 'registration')
    df = data.loc[mask,['user_id']].copy()
    
    df['event_registration_week'] = df.index.strftime('%W')
    df['event_registration_week'] = df['event_registration_week'].astype("int")+1 #indentifier correction
    
    return df

In [8]:
week_registration_cohorts = get_week_registration(data)
week_registration_cohorts.head()

                    user_id  event_registration_week
event_date
2019-07-29 00:02:15  c40e6a                       31
2019-07-29 00:04:46  a2b682                       31
2019-07-29 00:13:22  9ac888                       31
2019-07-29 00:16:47  93ff22                       31
2019-07-29 00:19:23  65ef85                       31

In [9]:
index_data = data.index
data = data.merge(week_registration_cohorts,
    how='left',
    on='user_id'    
)

In [10]:
data.head()

  user_id    event_type  purchase_amount  event_registration_week
0  c40e6a  registration              NaN                       31
1  a2b682  registration              NaN                       31
2  9ac888  registration              NaN                       31
3  93ff22  registration              NaN                       31
4  65ef85  registration              NaN                       31

In [11]:
data.set_index(index_data, inplace =True)

### 3. How many unique users in the cohort with ID 33?

In [12]:
unique_users=data.loc[data['event_registration_week']==33,'user_id'].unique()
total_unique_users = len(unique_users)

In [13]:
print("There are {} unique users.".format(total_unique_users))

There are 2045 unique users.

### 4. For each event, highlight the indicator lifetime - the weekly lifetime of the cohort.
The lifetime indicator is calculated based on the serial number of the week in which the event is committed, relative to the week of registration. For example, an event committed on August 3 by a user from a cohort of registrants at 31 weeks will be committed on the zero week of lifetime, and an event committed by the same user on August 5 will be committed on the first week of lifetime).

In [14]:
def lifetime(data):
    df = data.copy()
    
    df['event_week'] = df.index.strftime('%W')
    df['event_week'] = df['event_week'].astype("int")+1
    
    df['lifetime_cohort'] = df['event_week'] - df['event_registration_week']
    
    return df['lifetime_cohort']

In [15]:
data['lifetime_cohort'] = lifetime(data)

In [16]:
data.head()

,user_id,event_type,purchase_amount,event_registration_week,lifetime_cohort
event_date,,,,,
2019-07-29 00:02:15,c40e6a,registration,NaN,31,0
2019-07-29 00:04:46,a2b682,registration,NaN,31,0
2019-07-29 00:13:22,9ac888,registration,NaN,31,0
2019-07-29 00:16:47,93ff22,registration,NaN,31,0
2019-07-29 00:19:23,65ef85,registration,NaN,31,0

In [18]:
cohorts = data.pivot_table(index = ['lifetime_cohort','event_registration_week'], 
                         aggfunc = {'user_id':'nunique'})

In [19]:
cohorts

                                         user_id
lifetime_cohort event_registration_week
0               31                          1975
                32                          1952
                33                          2045
                34                          1974
                35                          2050
1               31                          1832
                32                          1814
                33                          1890
                34                          1834
2               31                          1243
                32                          1265
                33                          1352
3               31                           705
                32                           705
4               31                           297

### 5. Build a summary table of changes in the Retention Rate for cohorts depending on lifetime.

In [20]:
initial_users_count = cohorts.loc[0,:]
initial_users_count

                         user_id
event_registration_week
31                          1975
32                          1952
33                          2045
34                          1974
35                          2050

In [23]:
summary_data =(
    cohorts
    .reset_index()
    .merge(
        initial_users_count.reset_index(),
        on='event_registration_week' 
    )
)

In [25]:
summary_data.head()

   lifetime_cohort  event_registration_week  user_id_x  user_id_y
0                0                       31       1975       1975
1                1                       31       1832       1975
2                2                       31       1243       1975
3                3                       31        705       1975
4                4                       31        297       1975

In [27]:
summary_data['Retention_Rate'] = summary_data.iloc[:,2]/summary_data.iloc[:,3]
summary_data.head()

,lifetime_cohort,event_registration_week,user_id_x,user_id_y,Retention_Rate
0,0,31,1975,1975,1.000000
1,1,31,1832,1975,0.927595
2,2,31,1243,1975,0.629367
3,3,31,705,1975,0.356962
4,4,31,297,1975,0.150380

In [43]:
summary = summary_data.pivot_table(
    index = ['event_registration_week'],
    columns = ['lifetime_cohort'],
    values = ['Retention_Rate']
)

In [44]:
summary

                        Retention_Rate
lifetime_cohort                      0         1         2         3        4
event_registration_week
31                                 1.0  0.927595  0.629367  0.356962  0.15038
32                                 1.0  0.929303  0.648053  0.361168      NaN
33                                 1.0  0.924205  0.661125       NaN      NaN
34                                 1.0  0.929078       NaN       NaN      NaN
35                                 1.0       NaN       NaN       NaN      NaN

### 6. What is the 3 week retention rate for a cohort with ID 32? Give the answer in percent, rounded to 2 decimal places, inclusive.

In [49]:
rr = round(summary.loc[32,('Retention_Rate', 3)]*100,2)

In [50]:
print(f"The retention rate for a cohort with ID at 3 week is {rr}%.")

The retention rate for a cohort with ID at 3 week is 36.12%.

### 7. Build a summary table of changes in the indicator ARPPU (Average Revenue Per Paying User) for cohorts depending on lifetime.

In [52]:
data.columns

Index(['user_id', 'event_type', 'purchase_amount', 'event_registration_week',
       'lifetime_cohort'],
      dtype='object')

In [57]:
cohorts['purchase_amount'] = data.groupby(by=['lifetime_cohort','event_registration_week',]).sum()

In [61]:
cohorts.reset_index(inplace=True)

In [62]:
cohorts['ARPPU'] = cohorts['purchase_amount']/cohorts['user_id']

In [64]:
cohorts

,lifetime_cohort,event_registration_week,user_id,purchase_amount,ARPPU
0,0,31,1975,8890.0,4.501266
1,0,32,1952,10850.0,5.558402
2,0,33,2045,9790.0,4.787286
3,0,34,1974,9510.0,4.817629
4,0,35,2050,11490.0,5.604878
5,1,31,1832,20540.0,11.211790
6,1,32,1814,21050.0,11.604190
7,1,33,1890,21730.0,11.497354
8,1,34,1834,19640.0,10.708833
9,2,31,1243,12210.0,9.823009
10,2,32,1265,12600.0,9.960474
11,2,33,1352,13740.0,10.162722
12,3,31,705,6120.0,8.680851
13,3,32,705,6260.0,8.879433
14,4,31,297,2010.0,6.767677

In [66]:
summary_ARPU = cohorts.pivot_table(
    index = ['event_registration_week'],
    columns = ['lifetime_cohort'],
    values = ['ARPPU']
)

In [67]:
summary_ARPU

                            ARPPU
lifetime_cohort                 0          1          2         3         4
event_registration_week
31                       4.501266  11.211790   9.823009  8.680851  6.767677
32                       5.558402  11.604190   9.960474  8.879433       NaN
33                       4.787286  11.497354  10.162722       NaN       NaN
34                       4.817629  10.708833        NaN       NaN       NaN
35                       5.604878        NaN        NaN       NaN       NaN

### 8. What is the 3-week ARPPU of a cohort with ID 31? Give the answer with a floating point number, rounded to 2 decimal places, inclusive.

In [72]:
summary_ARPU.columns

MultiIndex([('ARPPU', 0),
            ('ARPPU', 1),
            ('ARPPU', 2),
            ('ARPPU', 3),
            ('ARPPU', 4)],
           names=[None, 'lifetime_cohort'])

In [73]:
arppu = round(summary_ARPU.loc[31,('ARPPU', 3)],2)

In [74]:
print(f"The arppu for a cohort 31 with ID at 3 week is {arppu}.")

The arppu for a cohort 31 with ID at 3 week is 8.68.

### 9. What is the median time between user registration and first purchase? Give the answer in seconds (!) As an integer.

In [215]:
def time_purhsace_amount(data):
    df= data.copy()
    
    df.reset_index(inplace = True)
    
    mask_registration = df['event_type'] =='registration'
    registration = df.loc[mask_registration,['user_id','event_date']].copy()
    registration.rename(columns = {'event_date':'registration_date'}, inplace =True)
    
    mask_purchase = df['event_type'] =='purchase'
    pushase = df.loc[mask_purchase,['user_id','event_date']].copy()
    pushase.rename(columns = {'event_date':'pushase_date'}, inplace =True)
    
    df = pushase.merge(
        registration,
        how = 'left',
        on = 'user_id'
    )
    
    df.drop_duplicates( subset = ['user_id'], inplace = True, keep ='first'  )
    
    time_to_purshase = (df['pushase_date'] - df['registration_date']).dt.total_seconds()
    
    
    
    return time_to_purshase

In [228]:
median = int(time_purhsace_amount(data).median())

In [229]:
print(f"The median time to first purshase is {median} seconds.")

The median time to first purshase is 434774 seconds.